//montserrat Font
@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: normal;
    src: local("Montserrat-Thin");
    src: url($montserrat + "Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url($montserrat + "Montserrat-Thin.woff2") format("woff2"), url($montserrat + "Montserrat-Thin.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: italic;
    src: local("Montserrat-ThinItalic");
    src: url($montserrat + "Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"), url($montserrat + "Montserrat-ThinItalic.woff2") format("woff2"), url($montserrat + "Montserrat-ThinItalic.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: normal;
    src: local("Montserrat-ExtraLight");
    src: url($montserrat + "Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url($montserrat + "Montserrat-ExtraLight.woff2") format("woff2"), url($montserrat + "Montserrat-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: italic;
    src: local("Montserrat-ExtraLightItalic");
    src: url($montserrat + "Montserrat-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url($montserrat + "Montserrat-ExtraLightItalic.woff2") format("woff2"), url($montserrat + "Montserrat-ExtraLightItalic.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
    src: local("Montserrat-Light");
    src: url($montserrat + "Montserrat-Light.eot?#iefix") format("embedded-opentype"), url($montserrat + "Montserrat-Light.woff2") format("woff2"), url($montserrat + "Montserrat-Light.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: italic;
    src: local("Montserrat-LightItalic");
    src: url($montserrat + "Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"), url($montserrat + "Montserrat-LightItalic.woff2") format("woff2"), url($montserrat + "Montserrat-LightItalic.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: local("Montserrat-Regular");
    src: url($montserrat + "Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url($montserrat + "Montserrat-Regular.woff2") format("woff2"), url($montserrat + "Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: italic;
    src: local("Montserrat-Italic");
    src: url($montserrat + "Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url($montserrat + "Montserrat-Italic.woff2") format("woff2"), url($montserrat + "Montserrat-Italic.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: local("Montserrat-Medium");
    src: url($montserrat + "Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url($montserrat + "Montserrat-Medium.woff2") format("woff2"), url($montserrat + "Montserrat-Medium.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: italic;
    src: local("Montserrat-MediumItalic");
    src: url($montserrat + "Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), url($montserrat + "Montserrat-MediumItalic.woff2") format("woff2"), url($montserrat + "Montserrat-MediumItalic.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    src: local("Montserrat");
    src: url($montserrat + "Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url($montserrat + "Montserrat-SemiBold.woff2") format("woff2"), url($montserrat + "Montserrat-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: italic;
    src: local("Montserrat-SemiBoldItalic");
    src: url($montserrat + "Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url($montserrat + "Montserrat-SemiBoldItalic.woff2") format("woff2"), url($montserrat + "Montserrat-SemiBoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: local("Montserrat-Bold");
    src: url($montserrat + "Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url($montserrat + "Montserrat-Bold.woff2") format("woff2"), url($montserrat + "Montserrat-Bold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: italic;
    src: local("Montserrat-BoldItalic");
    src: url($montserrat + "Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"), url($montserrat + "Montserrat-BoldItalic.woff2") format("woff2"), url($montserrat + "Montserrat-BoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: normal;
    src: local("Montserrat-ExtraBold");
    src: url($montserrat + "Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url($montserrat + "Montserrat-ExtraBold.woff2") format("woff2"), url($montserrat + "Montserrat-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: italic;
    src: local("Montserrat-ExtraBoldItalic");
    src: url($montserrat + "Montserrat-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url($montserrat + "Montserrat-ExtraBoldItalic.woff2") format("woff2"), url($montserrat + "Montserrat-ExtraBoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: normal;
    src: local("Montserrat-Black");
    src: url($montserrat + "Montserrat-Black.eot?#iefix") format("embedded-opentype"), url($montserrat + "Montserrat-Black.woff2") format("woff2"), url($montserrat + "Montserrat-Black.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: italic;
    src: local("Montserrat-BlackItalic");
    src: url($montserrat + "Montserrat-BlackItalic.eot?#iefix") format("embedded-opentype"), url($montserrat + "Montserrat-BlackItalic.woff2") format("woff2"), url($montserrat + "Montserrat-BlackItalic.woff") format("woff");
}

// Nunito sans

@font-face {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
    src: local("NunitoSans-Regular");
    src: url($nunito_path + "NunitoSans-Regular.eot?#iefix") format("embedded-opentype"), url($nunito_path + "NunitoSans-Regular.woff") format("woff"), url($nunito_path + "NunitoSans-Regular.ttf") format("truetype"), url($nunito_path + "NunitoSans-Regular.svg") format("svg");
}

@font-face {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: italic;
    src: local("NunitoSans-Italic");
    src: url($nunito_path + "NunitoSans-Italic.eot?#iefix") format("embedded-opentype"), url($nunito_path + "NunitoSans-Italic.woff") format("woff"), url($nunito_path + "NunitoSans-Italic.ttf") format("truetype"), url($nunito_path + "NunitoSans-Italic.svg") format("svg");
}

@font-face {
    font-family: 'Nunito Sans';
    font-weight: 100;
    font-style: normal;
    src: local("NunitoSans-Light");
    src: url($nunito_path + "NunitoSans-Light.eot?#iefix") format("embedded-opentype"), url($nunito_path + "NunitoSans-Light.woff") format("woff"), url($nunito_path + "NunitoSans-Light.ttf") format("truetype"), url($nunito_path + "NunitoSans-Light.svg") format("svg");
}

@font-face {
    font-family: 'Nunito Sans';
    font-weight: 100;
    font-style: italic;
    src: local("NunitoSans-LightItalic");
    src: url($nunito_path + "NunitoSans-LightItalic.eot?#iefix") format("embedded-opentype"), url($nunito_path + "NunitoSans-LightItalic.woff") format("woff"), url($nunito_path + "NunitoSans-LightItalic.ttf") format("truetype"), url($nunito_path + "NunitoSans-LightItalic.svg") format("svg");
}

@font-face {
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-style: normal;
    src: local("NunitoSans-SemiBold");
    src: url($nunito_path + "NunitoSans-SemiBold.eot?#iefix") format("embedded-opentype"), url($nunito_path + "NunitoSans-SemiBold.woff") format("woff"), url($nunito_path + "NunitoSans-SemiBold.ttf") format("truetype"), url($nunito_path + "NunitoSans-SemiBold.svg") format("svg");
}

@font-face {
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-style: italic;
    src: local("NunitoSans-SemiBoldItalic");
    src: url($nunito_path + "NunitoSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url($nunito_path + "NunitoSans-SemiBoldItalic.woff") format("woff"), url($nunito_path + "NunitoSans-SemiBoldItalic.ttf") format("truetype"), url($nunito_path + "NunitoSans-SemiBoldItalic.svg") format("svg");
}

@font-face {
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-style: normal;
    src: local("NunitoSans-Bold");
    src: url($nunito_path + "NunitoSans-Bold.eot?#iefix") format("embedded-opentype"), url($nunito_path + "NunitoSans-Bold.woff") format("woff"), url($nunito_path + "NunitoSans-Bold.ttf") format("truetype"), url($nunito_path + "NunitoSans-Bold.svg") format("svg");
}

@font-face {
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-style: italic;
    src: local("NunitoSans-BoldItalic");
    src: url($nunito_path + "NunitoSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url($nunito_path + "NunitoSans-BoldItalic.woff") format("woff"), url($nunito_path + "NunitoSans-BoldItalic.ttf") format("truetype"), url($nunito_path + "NunitoSans-BoldItalic.svg") format("svg");
}

@font-face {
    font-family: 'Nunito Sans';
    font-weight: 900;
    font-style: normal;
    src: local("NunitoSans-ExtraBold");
    src: url($nunito_path + "NunitoSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url($nunito_path + "NunitoSans-ExtraBold.woff") format("woff"), url($nunito_path + "NunitoSans-ExtraBold.ttf") format("truetype"), url($nunito_path + "NunitoSans-ExtraBold.svg") format("svg");
}

@font-face {
    font-family: 'Nunito Sans';
    font-weight: 900;
    font-style: italic;
    src: local("NunitoSans-ExtraBoldItalic");
    src: url($nunito_path + "NunitoSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url($nunito_path + "NunitoSans-ExtraBoldItalic.woff") format("woff"), url($nunito_path + "NunitoSans-ExtraBoldItalic.ttf") format("truetype"), url($nunito_path + "NunitoSans-ExtraBoldItalic.svg") format("svg");
}

// Raleway
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: url($ralewaypath + "/raleway-v13-latin-300.eot"); /* IE9 Compat Modes */
    src: local("Raleway Light"), local("Raleway-Light"), url($ralewaypath + "/raleway-v13-latin-300.eot?#iefix") format("embedded-opentype"), url($ralewaypath + "/raleway-v13-latin-300.woff2") format("woff2"), url($ralewaypath + "/raleway-v13-latin-300.woff") format("woff"), url($ralewaypath + "/raleway-v13-latin-300.ttf") format("truetype"), url($ralewaypath + "/raleway-v13-latin-300.svg#Raleway") format("svg"); /* Legacy iOS */
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 300;
    src: url($ralewaypath + "/raleway-v13-latin-300italic.eot"); /* IE9 Compat Modes */
    src: local("Raleway Light Italic"), local("Raleway-LightItalic"), url($ralewaypath + "/raleway-v13-latin-300italic.eot?#iefix") format("embedded-opentype"), url($ralewaypath + "/raleway-v13-latin-300italic.woff2") format("woff2"), url($ralewaypath + "/raleway-v13-latin-300italic.woff") format("woff"), url($ralewaypath + "/raleway-v13-latin-300italic.ttf") format("truetype"), url($ralewaypath + "/raleway-v13-latin-300italic.svg#Raleway") format("svg"); /* Legacy iOS */
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url($ralewaypath + "/raleway-v13-latin-regular.eot"); /* IE9 Compat Modes */
    src: local("Raleway"), local("Raleway-Regular"), url($ralewaypath + "/raleway-v13-latin-regular.eot?#iefix") format("embedded-opentype"), url($ralewaypath + "/raleway-v13-latin-regular.woff2") format("woff2"), url($ralewaypath + "/raleway-v13-latin-regular.woff") format("woff"), url($ralewaypath + "/raleway-v13-latin-regular.ttf") format("truetype"), url($ralewaypath + "/raleway-v13-latin-regular.svg#Raleway") format("svg"); /* Legacy iOS */
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 400;
    src: url($ralewaypath + "/raleway-v13-latin-italic.eot"); /* IE9 Compat Modes */
    src: local("Raleway Italic"), local("Raleway-Italic"), url($ralewaypath + "/raleway-v13-latin-italic.eot?#iefix") format("embedded-opentype"), url($ralewaypath + "/raleway-v13-latin-italic.woff2") format("woff2"), url($ralewaypath + "/raleway-v13-latin-italic.woff") format("woff"), url($ralewaypath + "/raleway-v13-latin-italic.ttf") format("truetype"), url($ralewaypath + "/raleway-v13-latin-italic.svg#Raleway") format("svg"); /* Legacy iOS */
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url($ralewaypath + "/raleway-v13-latin-500.eot"); /* IE9 Compat Modes */
    src: local("Raleway Medium"), local("Raleway-Medium"), url($ralewaypath + "/raleway-v13-latin-500.eot?#iefix") format("embedded-opentype"), url($ralewaypath + "/raleway-v13-latin-500.woff2") format("woff2"), url($ralewaypath + "/raleway-v13-latin-500.woff") format("woff"), url($ralewaypath + "/raleway-v13-latin-500.ttf") format("truetype"), url($ralewaypath + "/raleway-v13-latin-500.svg#Raleway") format("svg"); /* Legacy iOS */
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 500;
    src: url($ralewaypath + "/raleway-v13-latin-500italic.eot"); /* IE9 Compat Modes */
    src: local("Raleway Medium Italic"), local("Raleway-MediumItalic"), url($ralewaypath + "/raleway-v13-latin-500italic.eot?#iefix") format("embedded-opentype"), url($ralewaypath + "/raleway-v13-latin-500italic.woff2") format("woff2"), url($ralewaypath + "/raleway-v13-latin-500italic.woff") format("woff"), url($ralewaypath + "/raleway-v13-latin-500italic.ttf") format("truetype"), url($ralewaypath + "/raleway-v13-latin-500italic.svg#Raleway") format("svg"); /* Legacy iOS */
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: url($ralewaypath + "/raleway-v13-latin-600.eot"); /* IE9 Compat Modes */
    src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url($ralewaypath + "/raleway-v13-latin-600.eot?#iefix") format("embedded-opentype"), url($ralewaypath + "/raleway-v13-latin-600.woff2") format("woff2"), url($ralewaypath + "/raleway-v13-latin-600.woff") format("woff"), url($ralewaypath + "/raleway-v13-latin-600.ttf") format("truetype"), url($ralewaypath + "/raleway-v13-latin-600.svg#Raleway") format("svg"); /* Legacy iOS */
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 600;
    src: url($ralewaypath + "/raleway-v13-latin-600italic.eot"); /* IE9 Compat Modes */
    src: local("Raleway SemiBold Italic"), local("Raleway-SemiBoldItalic"), url($ralewaypath + "/raleway-v13-latin-600italic.eot?#iefix") format("embedded-opentype"), url($ralewaypath + "/raleway-v13-latin-600italic.woff2") format("woff2"), url($ralewaypath + "/raleway-v13-latin-600italic.woff") format("woff"), url($ralewaypath + "/raleway-v13-latin-600italic.ttf") format("truetype"), url($ralewaypath + "/raleway-v13-latin-600italic.svg#Raleway") format("svg"); /* Legacy iOS */
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url($ralewaypath + "/raleway-v13-latin-700.eot"); /* IE9 Compat Modes */
    src: local("Raleway Bold"), local("Raleway-Bold"), url($ralewaypath + "/raleway-v13-latin-700.eot?#iefix") format("embedded-opentype"), url($ralewaypath + "/raleway-v13-latin-700.woff2") format("woff2"), url($ralewaypath + "/raleway-v13-latin-700.woff") format("woff"), url($ralewaypath + "/raleway-v13-latin-700.ttf") format("truetype"), url($ralewaypath + "/raleway-v13-latin-700.svg#Raleway") format("svg"); /* Legacy iOS */
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 700;
    src: url($ralewaypath + "/raleway-v13-latin-700italic.eot"); /* IE9 Compat Modes */
    src: local("Raleway Bold Italic"), local("Raleway-BoldItalic"), url($ralewaypath + "/raleway-v13-latin-700italic.eot?#iefix") format("embedded-opentype"), url($ralewaypath + "/raleway-v13-latin-700italic.woff2") format("woff2"), url($ralewaypath + "/raleway-v13-latin-700italic.woff") format("woff"), url($ralewaypath + "/raleway-v13-latin-700italic.ttf") format("truetype"), url($ralewaypath + "/raleway-v13-latin-700italic.svg#Raleway") format("svg"); /* Legacy iOS */
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    src: url($ralewaypath + "/raleway-v13-latin-900.eot"); /* IE9 Compat Modes */
    src: local("Raleway Black"), local("Raleway-Black"), url($ralewaypath + "/raleway-v13-latin-900.eot?#iefix") format("embedded-opentype"), url($ralewaypath + "/raleway-v13-latin-900.woff2") format("woff2"), url($ralewaypath + "/raleway-v13-latin-900.woff") format("woff"), url($ralewaypath + "/raleway-v13-latin-900.ttf") format("truetype"), url($ralewaypath + "/raleway-v13-latin-900.svg#Raleway") format("svg"); /* Legacy iOS */
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 900;
    src: url($ralewaypath + "/raleway-v13-latin-900italic.eot"); /* IE9 Compat Modes */
    src: local("Raleway Black Italic"), local("Raleway-BlackItalic"), url($ralewaypath + "/raleway-v13-latin-900italic.eot?#iefix") format("embedded-opentype"), url($ralewaypath + "/raleway-v13-latin-900italic.woff2") format("woff2"), url($ralewaypath + "/raleway-v13-latin-900italic.woff") format("woff"), url($ralewaypath + "/raleway-v13-latin-900italic.ttf") format("truetype"), url($ralewaypath + "/raleway-v13-latin-900italic.svg#Raleway") format("svg"); /* Legacy iOS */
}